*{
    margin: 0rem;
    padding: 0rem;
    font-family: 'Bree Serif', serif;
}

html{
    scroll-behavior: smooth;
}

#loading{
    background: #fff url('./Images/preloader.gif') no-repeat center;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
}

/* navigation menu */
#navbar{
    display: flex;
    align-items: center;
    background-color: #000000ad;
}

#navbar img {
    width: 80px;
    padding: 0.6rem;
    border-radius: 46px;
}

#navbar > div{
    margin-bottom: 12px;
}

.navbaritem{
    margin: 0rem 1.6rem;
    padding: 0.3rem 0.8rem;
    text-decoration: none;
    color: white;
}

.navbaritem:hover{
    background-color: white;
    color: black;
    border-radius: 2rem;
}

#back-to-top-btn{
    position: fixed;
    z-index: 1;
    top: 10rem;
    right: 2rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    padding: 0rem 0.3rem;
    cursor: pointer;
    opacity: 0.5;
    width: 6rem;
    display: none;
}

#back-to-top-btn:hover{
    opacity: 1;
    background-color: #ebf3f3eb;
}

#back-to-top-btn a{
    color: black;
    text-decoration: none;
}

/* home section */
#home-section-and-navbar{
    background-image: url("./Images/bg1.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

#home-section-and-navbar > div{
    padding: 4.5rem 0rem;
}

#home-section-and-navbar > div > p {
    font-size: 18px;
    padding: 0px 15px;
}

#home-section-heading{
    font-size: 3rem;
    padding: 0px 15px;
}

#home-section-and-navbar > div button{
    border: 3px solid white;
    border-radius: 1.3rem;
    font-size: 1.5rem;
    margin: 1.2rem 0rem;
    padding: 0.3rem 0.5rem;
    background-color: brown;
    color: white;
    cursor: pointer;
}

#home-section-and-navbar > div button:hover{
    background-color: #c8cfce;
    color: black;
    border-color: black;
}

/* services section */
#services-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

#services-section-heading{
    font-size: 3rem;
    text-align: center;
    width: 17rem;
    margin: auto;
    margin-top: 1rem;
}

.services-box{
    border: 4px solid brown;
    border-radius: 5rem;
    width: 100%;
    margin: 0.5rem 1.5rem;
    padding: 0.7rem;
    text-align: center;
}

.services-box > p{
    margin: 0px 10px 5px 10px;
}

#services-section div img{
    width: 11rem;
    padding: 1rem;
    height: 8.3rem;
}

/* clients section */
#clients-section{
    margin: 30px 0px 3px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 7.7rem 0rem;
}

#clients-section div img{
    width: 6.5rem;
    margin: 2rem;
    padding: 0.5rem
}

#clients-section::before{
    content: "";
    position: absolute;
    left: 0rem;
    width: 100%;
    height: 100%;
    background-image: url("./Images/bg2.jpg");
    opacity: 0.4;
    z-index: -1;
}

#clients-section-heading{
    font-size: 3rem;
}

/* contact section */
#contact-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#contact-section form{
    border: 4px solid brown;
    border-radius: 4rem;
    padding: 1.3rem;
    width: 45%;
}

#contact-section form label{
    display: block;
    font-size: 1.2rem;
    cursor: pointer;
}

#contact-section form input{
    width: 97%;
    border-radius: 1.5rem;
    font-size: 1rem;
    padding: 0.4rem;
    margin: 0.3rem 0rem;
}

#contact-section-heading{
    font-size: 3rem;
}

#contact-section::before{
    content: "";
    position: absolute;
    left: 0rem;
    width: 100%;
    height: 100%;
    background-image: url("./Images/contact-us.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
}

#contact-section form textarea{
    width: 97%;
    padding: 0.4rem;
    font-size: 1rem;
}

.contact-section-send-btn{
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 10rem;
    margin: 8px auto;
    padding: 8px 0px;
    font-size: 1.2rem;
    border-radius: 8px;
}

.contact-section-send-btn:hover{
    background-color: lightgrey;
}

/* Footer */
footer{
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 0.2rem;
    font-size: 1.4rem;
    padding: 15px 10px;
}
