*{
    margin: 0px;
    padding: 0px;
    font-family: 'Bree Serif', serif;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

#loading{
    width: 100%;
    height: 100vh;
    background: #fff url('./Images/loading.gif') no-repeat center;
    z-index: 1;
    position: fixed;
}

/* HOME SECTION */

/* navbar inside home section */
#div-of-logo-nav{
    text-align: center;
}

#div-of-logo-nav img{
    width: 6.5rem;
}

#div-of-logo-nav h1{
    font-size: 1.4rem;
}

#div-for-anchor-nav a{
    font-size: 1.15rem;
    color: white;
    padding: 0.3rem;
    margin: 0rem 2rem;
    transition: none;
    text-decoration: none;
    text-align: center;
}

#div-for-anchor-nav a:hover{
    color: black;
    background-color: white;
    border-radius: 1.5rem;
    font-weight: bold;
}

#div-of-searchBar-nav{
    top: 40px;
    position: absolute;
    right: 3rem;
}

#div-of-searchBar-nav > button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0px 12px;
}

#div-of-searchBar-nav > button > i{
    color: white;
    font-size: 24px;
}

#div-of-searchBar-nav > button > i:hover{
    color: #b9babc;
}

#search-icon-hidden-div{
    transition: all 0.72s;
    position: fixed;
    top: -100vh;
    z-index: 1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000e0;
}

#cross-button-of-search-icon{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
}

.fa-xmark{
    color: white;
    font-size: 40px;
}

.fa-xmark:hover{
    color: #2b60c8;
}

#search-icon-hidden-div > div{
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-icon-hidden-div > div > input{
    background-color: transparent;
    padding-bottom: 6px;
    outline: none;
    border: none;
    width: 85%;
    font-size: 32px;
    color: white;
    border-bottom: 3px solid white;
}

#search-icon-hidden-div > div > input::placeholder{
    color: white;
}

#search-icon-hidden-div > div > i{
    color: white;
    cursor: pointer;
    font-size: 35px;   
    margin-left: 10px;
}

#search-icon-hidden-div > div > i:hover{
    color: #2b60c8; 
}

/* Home section after navbar */
#back-to-top-btn{
    position: fixed;
    top: 10rem;
    right: 2rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    padding: 0rem 0.3rem;
    cursor: pointer;
    opacity: 0.5;
    width: 6rem;
    display: none;
}

#back-to-top-btn:hover{
    opacity: 1;
    background-color: #ebf3f3eb;
}

#back-to-top-btn a{
    color: black;
    text-decoration: none;
}

#home-section{
    position: relative;
    color: white;
}

#home-section::before{
    content: "";
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    background-image: url("./Images/background1.jpg");
    background-position: center;
    background-size: cover;
    z-index: -2;
}

#div-of-home-after-navbar{
    padding: 1.5rem;
    width: 60%;
    margin: 1rem auto;
    text-align: center;
}

#div-of-home-after-navbar h1{
    font-size: 2.5rem;
}

#div-of-home-after-navbar p{
    margin: 0.5rem;
}

#div-of-home-after-navbar button{
    background-color: brown;
    padding: 0.2rem 0rem;
    border: 3px solid white;
    border-radius: 0.9rem;
    margin: 1rem;
    cursor: pointer;
}

#div-of-home-after-navbar button:hover{
    background-color: rgb(218 218 218);
    border-color: black;
}

#div-of-home-after-navbar button:hover a{
    color: black;
}

#div-of-home-after-navbar button a{
    color: white;
    padding: 0rem 1rem;
    font-size: 1.3rem;
    text-decoration: none;
}


/* workout section */
#workout-section{ 
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
}

#workout-section-heading{ 
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem;
}

.box{
    border: 4px solid black;
    border-radius: 1rem;
    width: 22rem;
    background-color: #ffffee;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.box p{
    margin: 0.5rem 0rem;
}

.box button a{
    color: white;
}

.box img{
    width: 15rem;
}

/* join-now-section */
#join-now-section{
    background-image: url("./Images/background2.jpg");
    background-position: center;
    background-size: cover;
}

#main-heading-join-now-section{
    font-size: 3rem;
    color: white;
    text-align: center;
}

#join-now-section form{
    display: flex;
    flex-direction: column;
    color: white;
    width: 42%;
    border: 5px solid white;
    padding: 1.5rem;
    border-radius: 2.5rem;
    margin: 1rem auto;
}

#join-now-section form h1{
    font-size: 2.5rem;
    text-align: center;
}

#join-now-section form label{
    font-size: 1.3rem;
    cursor: pointer;
}

#join-now-section form input{
    font-size: 1.1rem;
    padding: 0.3rem 0.5rem;
    margin: 0.7rem 0rem;
    border-radius: 1rem;
}

#join-now-section form #submit-btn{
    padding: 0.7rem 0rem;
    font-size: 1.5rem;
    margin: 2rem 0rem;
    border-radius: 1.2rem;
    background-color: #ececec;
    cursor: pointer;
    width: 30%;
}

#join-now-section form #submit-btn:hover{
    background-color: #c2c2bc;
}

/* facilities-section */
#facilities-section-main-heading{
    text-align: center;
    font-size: 3rem;
    margin: 1.5rem 0rem;
}

.facilities-section-container-div{
    display: flex; 
    justify-content: center; 
    margin-bottom: 30px;
}

.div-of-facilities-section{
    text-align: center;
    padding: 1rem;
    width: 28.5%;
    background-color: #ffffee;
    margin: 0px 8px;
    border: 4px solid black;
    border-radius: 1.5rem;
}

.div-of-facilities-section h1{
    font-size: 1.67rem;
}

.div-of-facilities-section img{
    width: 94%;
    margin: 1rem;
}

/* about-us-section */
#about-us-section{
    border: 4px solid black;
    border-radius: 1.15rem;
    text-align: center;
    width: 90%;
    height: 100%;
    margin: 25px auto 20px auto;
    background-color: #ffffee;
}

#about-us-section h3{
    font-size: 1.5rem;
    color: #3374e8;
}

#about-us-section h1{
    font-size: 2.5rem;
}

#about-us-section div{
    display: flex;
    padding: 0.5rem 1rem 1rem 1rem;
}

#about-us-section div p{
    text-align: left;
    font-size: 17px;
    padding: 0rem 1rem 0rem 1.5rem;
}

#about-us-section div img{
    height: 70vh;
}

/* contact-us-section */
#contact-us-section{
    padding: 0.8rem;
    text-align: center;
    background-image: url("./Images/contact-us.jpg");
    background-position: center;
    background-size: cover;
}

#contact-us-section h1{
    font-size: 3rem;
}

#contact-us-section form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

#contact-us-section form input{
    padding: 0.5rem;
    width: 80%;
    border-radius: 1rem;
    margin: 1rem;
    font-size: 1.1rem;
}

#contact-us-section form textarea{
    width: 80%;
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 1rem;
    font-size: 1.1rem;
}

#contact-us-section form #send-message-btn{
    padding: 0.8rem;
    border-radius: 1.1rem;
    font-size: 1.4rem;
    cursor: pointer;
    width: 25%;
}


#contact-us-section form #send-message-btn:hover{
    background-color: #c2c2bc;
    color: black;
}

/* footer */
footer{
    background-color: black;
    color: white;
    font-size: 1.4rem;
    text-align: center;
    padding: 12px 0px;
}